:root {
  --background-light: #fcebd5;
  --background-normal: #edd5bb;
  --background-dark: #e09686;
  --background-grey: #e5e5e5;

  --primary-default: #a16a5e;
  --primary-contrast: #d44c2e;
  --primary-blue: #1b59ac;
  --primary-green: #1bac6f;

  --text-default: #5a5a5a;
  --text-muted: #b9b9b9;
  --text-white: #f8f8f8;

  /* header styles */
  --font-family-header: "Reenie Beanie", cursive;
  --font-family-roboto: "Roboto", sans-serif;
}

body {
  background-color: var(--background-light) !important;
  position: relative;
}
section {
  display: none !important;
}
.displayBlock {
  display: block !important;
}

nav {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
nav h1 {
  font-family: var(--font-family-header);
  color: var(--primary-default);
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
}
.outer-box {
  /* margin-top: 150px; */
  /* height: 80vh; */
  /* width: 70%; */
  /* margin: 0 auto; */
}
.join-artist {
  background-color: var(--background-normal);
  height: 40vh;
  width: 70%;
  margin: 0 auto;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 50%);
  padding-right: 40px;
  text-align: right;
  z-index: 9;
}
.join-artist h2 {
  font-family: var(--font-family-header);
  padding-top: 40px;
  font-size: 45px;
  line-height: 45px;
  color: var(--primary-default);
}
.outer-box .btn-custom-class {
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--primary-default);
  border-radius: 4px;
  color: var(--primary-default);
}
.outer-box .dropdown-menu-right {
  top: 27%;
  left: 50%;
  z-index: 999999;
}

.join-artist:hover {
  position: relative;
  box-shadow: inset 0 0 3px black, 0 0 15px #dc3545, 0 0 15px black;
  transform: translate3D(0, -1px, 0) scale(1.03);
}
.join-visitor {
  background-color: var(--primary-default);
  height: 40vh;
  width: 70%;
  margin: 0 auto;
  clip-path: polygon(0% 0%, 100% 50%, 100% 100%, 0% 100%);
  margin-top: -30%;
  z-index: 2;
}
.join-visitor h2 {
  font-family: var(--font-family-header);
  color: var(--background-normal);
  padding-top: 130px;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
}
.join-visitor:hover {
  position: relative;
  box-shadow: inset 0 0 3px black, 0 0 15px #dc3545, 0 0 15px black;
  transform: translate3D(0, -1px, 0) scale(1.03);
}

.dropdown {
  position: relative !important;
  display: inline-block !important;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  background-color: rgb(246, 246, 246);
  box-shadow: 0px 1px 5px 1px rgba(50, 50, 50, 0.3);
}
.dropdown-content a {
  display: block;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
}
.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 15px;
  z-index: 99999999;
}
.dropdown .pointer:hover {
  padding-bottom: 15px;
}
/* vistior home page styles */
.visitor-navbar {
  display: flex;
}
.image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 104px;
  height: 104px;
  z-index: 9;
}
.visitor-h1 {
  position: absolute;
  left: 25%;
  right: 39%;
  top: 28%;
  bottom: 43%;
}
.logoRight {
  position: absolute;
  right: 4%;
  bottom: 25%;
  width: 28px;
  height: 29px;
}
.visitor-home-page .banner {
  background-image: url("./Photos/bricks.svg");
}
.visitor-home-page .banner h2 {
  color: var(--primary-default);
  font-size: 25px;
  line-height: 35px;
}
.visitor-home-page-btn {
  background-color: var(--primary-default) !important;
  color: var(--background-light) !important;
  border-radius: 5px;
}

.visitor-home-page .slider {
  position: relative;
  width: 600%;
  margin-right: 15px;
  left: 0;
  animation: 20s slider infinite;
}
.slider {
  height: auto;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  background-color: var(--background-normal);
}
.slide-track-left {
  display: flex;
  animation: scroll 140s linear infinite;
}
.slide-track-right {
  display: flex;
  animation: slidein 140s linear infinite;
}
.pl-15 {
  padding-right: 15px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 30));
  }
}
@keyframes slidein {
  0% {
    transform: translateX(calc(-250px * 30));
  }
  100% {
    transform: translateX(0);
  }
}

.slide {
  height: auto;
  width: 207px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.slide-img {
  width: 100%;
  height: 15vh;
}
/* carousel */
.vh-20 {
  height: 20vh;
}
.carousel-inner .inner-div {
  font-size: 9px;
  line-height: 12px;
}
.circle-img {
  border-radius: 50%;
  border: 4px solid var(--background-dark);
  height: 50px;
  width: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
}
.carousel-inner {
  overflow: visible !important;
}
.background-dark {
  background-color: var(--background-dark);
}
.color-dark {
  color: var(--background-dark) !important;
}
.borderRight {
  border-right: 2px solid var(--background-dark);
}
.carousel-inner .inner-div .img-div {
  background-color: var(--background-dark);
  position: relative;
}
.carousel-inner .carousel-item {
  margin: 0;
} /* !!----------------------- */

/* Visitor Listing page */
.listing-section-bg {
  background-color: var(--background-normal);
}
.artist-name {
  color: var(--primary-default);

  line-height: 30px;
}
.odd-card {
  background-color: var(--background-light);
  color: var(--primary-default);
}
.price-span-odd {
  background-color: var(--primary-default);
  color: var(--background-light);
  border-radius: 4px;
}
.even-card {
  background-color: var(--primary-default);
  color: var(--background-light);
}
.price-span-even {
  background-color: var(--background-light);
  color: var(--primary-default);
  border-radius: 4px;
}
.font-14 {
  font-size: 14px;
}
.font-11 {
  font-size: 11px;
}
.font-30 {
  font-size: 30px;
}
.font-rennie {
  font-family: var(--font-family-header);
}
.visitor-listing-page .btnFilters {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
/* ----------- Visitor Filters ----------- */
.bg-primary-default {
  background-color: var(--primary-default);
}
.background-light-color {
  color: var(--background-light);
}
.visitor-filters .row {
  background-color: var(--primary-default);
}
.form-titles,
.total-sold p,
.total-income p,
.live-auction-item > p {
  font-size: 18 px;
  color: var(--background-normal);
  line-height: 21px;
  font-weight: 300;
  font-family: var(--font-family-roboto);
  text-transform: capitalize;
}
.form-filters input,
.form-artist .selectByArtist,
.form-type .select-type,
button.dropdown-toggle {
  border: 1px solid #edd5bb;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
  width: 97px;
  padding-left: 8px;
  color: var(--background-normal);
  font-size: 13px;
  font-family: var(--font-family-roboto);
}
.form-filters input::placeholder {
  font-size: 13px;
  line-height: 15px;
  font-family: var(--font-family-roboto);
  color: var(--background-normal);
}
.form-item-title,
.form-artist,
.form-price,
.form-type {
  border-bottom: 2px solid #fcebd5;
  padding-bottom: 30px;
}
.filters-btn-submit {
  background-color: #d44c2e;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  width: 65px;
  height: 67px;
  position: relative;
}
.filters-btn-submit img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ---------- Artist Home Page ---------- */
.artist-bar {
  position: absolute;
  left: 88%;
  right: 4%;
  top: 30%;
  bottom: 47%;
}

.menuBar {
  height: 0px;
  padding: 30px;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999;
  background-color: var(--primary-default);
  color: var(--background-light);
  font-size: 32px;
  font-family: var(--font-family-roboto);
  font-weight: 300;
  transition: all 3s ease-in-out;
}

.sold-income-div {
  background-color: var(--primary-default);
  color: var(--background-light);
  border-radius: 2px;
}
.total-sold span,
.total-income span,
.live-auction-item span {
  font-family: var(--font-family-roboto);
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}
.live-auction-item {
  background-color: #d44c2e;
  color: var(--background-light);
}
.background-normal {
  background-color: #edd5bb;
}
.artist-home .display-income {
  background-color: var(--background-light);
}
.display-income h3 {
  color: var(--primary-default);
  font-family: var(--font-family-roboto);
  font-weight: 300;
  font-size: 18px;
}
.button-wrap button {
  background-color: var(--primary-default);
  color: var(--background-light);
  padding: 7px 18px;
  font-size: 12px;
  line-height: 14px;
  font-family: var(--font-family-roboto);
  font-weight: bold;
  width: auto;
  height: 27px;
  border-radius: 2px;
}
.primary-contrast {
  background-color: #d44c2e !important;
}
/* Artist Items Page */
.artist-items-page .dashed-inner-div {
  border: 2px dashed #a26a5e;
  width: 100%;
  height: 98px;
  color: var(--primary-default);
  font-size: 18px;
  font-family: var(--font-family-roboto);
  font-weight: 300;
}
.background-light {
  background-color: var(--background-light);
}
.item-title-style {
  color: var(--primary-default);
  font-size: 14px;
  font-family: var(--font-family-roboto);
  line-height: 16px;
  font-weight: normal;
}
.item-span-price {
  background-color: var(--primary-default);
  color: var(--background-light);
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  font-family: var(--font-family-roboto);
  border-radius: 3px;
  padding: 3px 8px;
  width: 43px;
  height: 20px;
  text-align: center;
}
.date-artist-p {
  color: var(--background-dark);
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
}
.desc-artist {
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: var(--primary-default);
}
.btn-artist {
  padding: 7px 18px;
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.btn-edit {
  background-color: var(--background-light) !important;
  color: var(--primary-default) !important;
}
/* Artist Add new Item */

.add-new-styles {
  font-style: normal;
  font-family: var(--font-family-roboto);
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}
.border-dash {
  border: 2px solid #fcebd5;
  border-radius: 4px;
}
.snapshot-div {
  height: 40vh;
  border: 2px dashed #fcebd5;
  border-radius: 4px;
}
.fa-camera,
.fa-retweet,
#addNewItemBtn {
  width: 67px;
  height: 58px;
  color: var(--background-normal) !important;
}
.backIconStyle {
  width: 67px;
  height: 58px;
  top: 0;
  left: 0;
  color: var(--background-dark) !important;
}
.bidInputStyle {
  background-color: transparent;
  border: 2px solid var(--background-dark);
  border-radius: 4px;
}
.bidBtnStyle {
  background-color: var(--primary-default) !important;
  padding: 0 25px !important;
  color: var(--background-light) !important;
  font-size: 20px !important;
}
.currentBid {
  background-color: #1bac6f;
  color: var(--background-light);
}
.my-bid {
  background-color: #d44c2e;
  color: var(--background-light);
  border-radius: 10px;
}
.their-bid {
  background-color: #1b59ac;
  color: var(--background-light);
  border-radius: 10px;
}
.btn-add-new-item,
.btn-cancel-item {
  width: 175px;
  height: 37px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 8px 30px;
}
.btn-add-new-item {
  background-color: var(--primary-contrast) !important;
  color: var(--background-light) !important;
}
.btn-cancel-item {
  background-color: #e5e5e5 !important;
  color: #5a5a5a !important;
}
.background-normal-color {
  color: var(--background-normal);
}
.modalNone {
  display: none;
}
.vh-80 {
  height: 80vh;
}
.captureDiv canvas {
  display: none;
}

@media (min-width: 324px) and (max-width: 601px) {
  .join-visitor {
    margin-top: -45%;
  }
}
